企业级多源数据智能投研与合规审查系统.yml
app:
  description: ''
  icon: page_with_curl
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 企业级多源数据智能投研与合规审查系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.45@7f2b2d5b163de4c1ad8fad80e624c08d47ed7942a6a534e88e5786e65073f3ca
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779504722821--1779504775583-target
      selected: false
      source: '1779504722821'
      sourceHandle: source
      target: '1779504775583'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1779503550089-source-1779504822618-target
      selected: false
      source: '1779503550089'
      sourceHandle: source
      target: '1779504822618'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779504822618-true-1779504722821-target
      selected: false
      source: '1779504822618'
      sourceHandle: 'true'
      target: '1779504722821'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1779504822618-false-1779503551530-target
      selected: false
      source: '1779504822618'
      sourceHandle: 'false'
      target: '1779503551530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1779503551530-source-1779506290364-target
      selected: false
      source: '1779503551530'
      sourceHandle: source
      target: '1779506290364'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779504775583-source-1779508582125-target
      source: '1779504775583'
      sourceHandle: source
      target: '1779508582125'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1779506290364-source-1779508595445-target
      source: '1779506290364'
      sourceHandle: source
      target: '1779508595445'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: query
      height: 108
      id: '1779503550089'
      position:
        x: 82
        y: 282
      positionAbsolute:
        x: 82
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - MvlfuNCogKSr9/AG6TK3CQEa1EFSyXE6Fl9/uCvzv9gqltLEsTjimDeDsz72X7qm
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-v1
              embedding_provider_name: langgenius/tongyi/tongyi
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1779503550089'
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1779503551530'
      position:
        x: 735.9158764749176
        y: 427.92060169785805
      positionAbsolute:
        x: 735.9158764749176
        y: 427.92060169785805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1779503550089'
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 91e7a95e-5a14-47bf-a78c-138cf89bac44
          role: system
          text: '你是一个精密的财务数据提取器。

            你的唯一任务是分析用户的输入，从中提取出“月薪(salary)”和“绩效评分(score)”。


            你必须严格、只能输出一个标准的 JSON 字符串，绝对不能包含任何多余的解释、前言或总结。


            【输出格式要求】：

            {"salary": 18000, "score": 4.5}


            【约束条件】：

            1. 提取出的 salary 必须是纯数字（整数）。

            2. 提取出的 score 必须是纯数字（浮点数或整数）。

            3. 如果用户没有提及某项数据，则默认将其设为 0。


            【当前用户输入】：

            {{#context#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779504722821'
      position:
        x: 679.8705505632962
        y: 88.91779774681552
      positionAbsolute:
        x: 679.8705505632962
        y: 88.91779774681552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(arg1: str) -> dict:\n    try:\n        # 直接把大模型吐出来的纯净字符串转成字典\n\
          \        data = json.loads(arg1)\n        \n        # 提取数据\n        salary\
          \ = int(data.get(\"salary\", 0))\n        score = float(data.get(\"score\"\
          , 0))\n        \n        # 计算年终奖\n        bonus = salary * score * 0.1\n\
          \        \n        return {\n            \"result\": f\"【Dify 自动化脚本计算成功】：应发年终奖为\
          \ {round(bonus, 2)} 元。\"\n        }\n    except Exception as e:\n      \
          \  return {\n            \"result\": f\"【计算失败】：解析出错，原因为 {str(e)}\"\n   \
          \     }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1779504722821'
          - text
          value_type: string
          variable: arg1
      height: 51
      id: '1779504775583'
      position:
        x: 1031.4822022531844
        y: 77.25889887340779
      positionAbsolute:
        x: 1031.4822022531844
        y: 77.25889887340779
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: c28640d9-5394-49cd-8969-7fc8909ef3d1
            value: 算
            varType: string
            variable_selector:
            - '1779503550089'
            - query
          - comparison_operator: contains
            id: c81ef1c5-5689-4d7f-be47-310c26aa2f6a
            value: 奖金
            varType: string
            variable_selector:
            - '1779503550089'
            - query
          - comparison_operator: contains
            id: 92df5abc-3ffb-4edf-af8c-2dbbad047df0
            value: 薪资
            varType: string
            variable_selector:
            - '1779503550089'
            - query
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支
        type: if-else
      height: 175
      id: '1779504822618'
      position:
        x: 409.079898016128
        y: 258.7347847461192
      positionAbsolute:
        x: 409.079898016128
        y: 258.7347847461192
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1779503551530'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 3a51b2c6-9861-4ab7-9ae5-84f6f5bb3fb2
          role: system
          text: '你是一个基于知识库的问答助手。请根据【本地上下文】回答用户的问题。


            【本地上下文】：

            {{#context#}}

            【用户问题】：

            {{#1779503550089.query#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779506290364'
      position:
        x: 1060.1778534096527
        y: 427.92060169785805
      positionAbsolute:
        x: 1060.1778534096527
        y: 427.92060169785805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779504775583'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1779508582125'
      position:
        x: 1333.4822022531844
        y: 77.25889887340779
      positionAbsolute:
        x: 1333.4822022531844
        y: 77.25889887340779
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779506290364'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1779508595445'
      position:
        x: 1362.1778534096527
        y: 427.92060169785805
      positionAbsolute:
        x: 1362.1778534096527
        y: 427.92060169785805
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 22.248307681309797
      y: 133.30166595113607
      zoom: 1.0000000000000002
  rag_pipeline_variables: []
